# Importing Packages

In [1]:
import pandas as pd
import numpy as np
import pickle
import re

%reload_ext autoreload
%autoreload 2
import sys
sys.path.append("../py")
from utils import *
from mgp import *
from preprocess import *
from sklearn.model_selection import train_test_split

# Importing Datasets

## Aristotle Dataset

In [2]:
df1 = pickle.load(open("../pickle/aristotle.pickle", "rb"))
df1

,created_at,id,text,author_id
0,2017-04-07T19:42:40.000Z,850433664890544128,I hate er chase because if the Bitch that work...,399817418
1,2017-04-06T21:39:45.000Z,850100742035836929,RT @nyctophil3: Pineapples do not belong on pi...,928512230
2,2017-03-31T13:35:20.000Z,847804507367100416,Niggas keep talking about women wearing weave ...,46267097
3,2017-04-06T20:58:20.000Z,850090319165050880,@vappywave idiot that's not gonna work. you go...,14413604
4,2017-04-03T00:00:48.000Z,848686686930382848,RT @ayevonnn: bruh i fucking hate people like ...,3137373930
...,...,...,...,...
1758,2017-04-08T13:25:50.000Z,850701219568001025,Baekhyun won 'Most Popular Artist of Korea'\n\...,465448529
1759,2017-04-04T17:42:11.000Z,849316180670259205,#TripleTalaqArrest 2fgt dis social menace #Tri...,179136092
1760,2017-04-05T17:26:51.000Z,849674709763358720,White nationalists' latest tactic to recruit c...,60473620
1761,2017-04-04T13:06:00.000Z,849246676854484992,We are in a comfortable lead fight against gal...,736124767518986244
1762,2017-04-05T14:51:08.000Z,849635522389651456,Took him less than a minute...!! Gutless grub!...,626656631

In [3]:
df1['label'] = 1
df1 = df1.drop(columns=['author_id', 'created_at', 'id'], axis=1)
df1.head()

                                                text  label
0  I hate er chase because if the Bitch that work...      1
1  RT @nyctophil3: Pineapples do not belong on pi...      1
2  Niggas keep talking about women wearing weave ...      1
3  @vappywave idiot that's not gonna work. you go...      1
4  RT @ayevonnn: bruh i fucking hate people like ...      1

## Copenhagen Dataset

In [4]:
df2 = pickle.load(open("../pickle/copenhagen.pickle", "rb"))
df2

,text,author_id,id,created_at
0,Drasko they didn't cook half a bird you idiot ...,110114783,572341498827522049,2015-03-02T10:23:41.000Z
1,Hopefully someone cooks Drasko in the next ep ...,38650214,572340476503724032,2015-03-02T10:19:37.000Z
2,of course you were born in serbia...you're as ...,2587278392,572334712804384768,2015-03-02T09:56:43.000Z
3,These girls are the equivalent of the irritati...,2601524623,572332655397629952,2015-03-02T09:48:33.000Z
4,RT @YesYoureRacist: At least you're only a tin...,930620467,446460991396917248,2014-03-20T01:39:29.000Z
...,...,...,...,...
2734,"RT @Superjutah: @MT8_9 £34,000 is £9000 above ...",2756873076,569990621315919872,2015-02-23T22:42:08.000Z
2735,RT @DufresneFrank: “@gabystama: @DufresneFrank...,2756873076,570244879265206272,2015-02-24T15:32:28.000Z
2736,RT @BoycottBrandy: @ActionFlickDoc this person...,2756873076,571013698111860736,2015-02-26T18:27:29.000Z
2737,RT @Lyall: Patriarchy™ will expel me if I divu...,2756873076,571304517930774528,2015-02-27T13:43:06.000Z
2738,RT @AsheSchow: Women’s Studies: Learn how to t...,2756873076,575664315627216896,2015-03-11T14:27:22.000Z

In [5]:
df2['label'] = 1
df2 = df2.drop(columns=['id', 'author_id', 'created_at'], axis=1)
df2.head()

                                                text  label
0  Drasko they didn't cook half a bird you idiot ...      1
1  Hopefully someone cooks Drasko in the next ep ...      1
2  of course you were born in serbia...you're as ...      1
3  These girls are the equivalent of the irritati...      1
4  RT @YesYoureRacist: At least you're only a tin...      1

## HASOC Dataset

In [6]:
df3 = pd.read_csv("../data/english_dataset.tsv", delimiter = "\t")
df3

,text_id,text,task_1,task_2,task_3
0,hasoc_en_1,#DhoniKeepsTheGlove | WATCH: Sports Minister K...,NOT,NONE,NONE
1,hasoc_en_2,@politico No. We should remember very clearly ...,HOF,HATE,TIN
2,hasoc_en_3,@cricketworldcup Guess who would be the winner...,NOT,NONE,NONE
3,hasoc_en_4,Corbyn is too politically intellectual for #Bo...,NOT,NONE,NONE
4,hasoc_en_5,All the best to #TeamIndia for another swimmin...,NOT,NONE,NONE
...,...,...,...,...,...
5847,hasoc_en_5848,"@davidfrum @trueblueusa1 That's cute and all, ...",HOF,PRFN,UNT
5848,hasoc_en_5849,a recession issa comin' #maga #magamyass #fuck...,NOT,NONE,NONE
5849,hasoc_en_5850,#DoctorsFightBack Will 'The Mad n Irrational ...,HOF,OFFN,TIN
5850,hasoc_en_5851,#ShiningIndia #educatedindia or more like RUND...,HOF,OFFN,UNT
5851,hasoc_en_5852,Could this be our new Prime Minister? #Ric...,HOF,PRFN,UNT

In [7]:
hasoc_hate = df3[df3.task_2 == 'HATE']
hasoc_hate

,text_id,text,task_1,task_2,task_3
1,hasoc_en_2,@politico No. We should remember very clearly ...,HOF,HATE,TIN
11,hasoc_en_12,I don’t know how much more I can take! 45 is a...,HOF,HATE,TIN
23,hasoc_en_24,#ShameOnICC 1. ICC on Dhoni's gloves ...,HOF,HATE,TIN
27,hasoc_en_28,Disgusting! And they don’t change their cultur...,HOF,HATE,TIN
34,hasoc_en_35,"@TheRealOJ32 Of all the retired NFL players, w...",HOF,HATE,TIN
...,...,...,...,...,...
5840,hasoc_en_5841,Full of fools.. ICC @ICCMediaComms @ICC @crick...,HOF,HATE,TIN
5842,hasoc_en_5843,"The US-Mexican border, where established moral...",HOF,HATE,TIN
5844,hasoc_en_5845,@ICC All Eng matches are on dry pitches &amp; ...,HOF,HATE,TIN
5845,hasoc_en_5846,It seems the Rain &amp; thunder god only like ...,HOF,HATE,TIN
5846,hasoc_en_5847,#Muslim #Rapist Raped 28 #innocent #Girls in 1...,HOF,HATE,UNT

In [8]:
df3['label'] = 1
df3 = df3[['text', 'label']]
df3.head()

                                                text  label
0  #DhoniKeepsTheGlove | WATCH: Sports Minister K...      1
1  @politico No. We should remember very clearly ...      1
2  @cricketworldcup Guess who would be the winner...      1
3  Corbyn is too politically intellectual for #Bo...      1
4  All the best to #TeamIndia for another swimmin...      1

## Original Dataset

In [26]:
df4 = pd.read_csv("../data/labeled_data.csv", index_col=0)
df4 = df4.drop(columns=['count', 'hate_speech', 'offensive_language', 'neither'], axis=1)
df4.columns = ['label', 'text']
df4.head()

   label                                               text
0      2  !!! RT @mayasolovely: As a woman you shouldn't...
1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [27]:
df4.label.value_counts()

1    19190
2     4163
0     1430
Name: label, dtype: int64

In [28]:
df4 = df4.replace({'label': {1: 0, 2: 0, 0: 1}})

In [29]:
df4.label.value_counts()

0    23353
1     1430
Name: label, dtype: int64

# Combining Dataframes

In [39]:
comb = pd.concat([df1, df2, df3, df4], ignore_index=True)
comb

                                                    text  label
0      I hate er chase because if the Bitch that work...      1
1      RT @nyctophil3: Pineapples do not belong on pi...      1
2      Niggas keep talking about women wearing weave ...      1
3      @vappywave idiot that's not gonna work. you go...      1
4      RT @ayevonnn: bruh i fucking hate people like ...      1
...                                                  ...    ...
35132  you's a muthaf***in lie &#8220;@LifeAsKing: @2...      0
35133  you've gone and broke the wrong heart baby, an...      0
35134  young buck wanna eat!!.. dat nigguh like I ain...      0
35135              youu got wild bitches tellin you lies      0
35136  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...      0

[35137 rows x 2 columns]

In [40]:
comb.label.value_counts()

0    23353
1    11784
Name: label, dtype: int64

In [41]:
comb.head()

                                                text  label
0  I hate er chase because if the Bitch that work...      1
1  RT @nyctophil3: Pineapples do not belong on pi...      1
2  Niggas keep talking about women wearing weave ...      1
3  @vappywave idiot that's not gonna work. you go...      1
4  RT @ayevonnn: bruh i fucking hate people like ...      1

In [42]:
comb.columns = ['tweet', 'label']

# Pickle Out Dataframe

In [43]:
pickle.dump(comb, open("../pickle/balanced.pickle", "wb"))

# Train-Validation-Test

In [3]:
df_balanced = pickle.load(open("../pickle/balanced.pickle", "rb"))
df_balanced.head()

                                               tweet  label
0  I hate er chase because if the Bitch that work...      1
1  RT @nyctophil3: Pineapples do not belong on pi...      1
2  Niggas keep talking about women wearing weave ...      1
3  @vappywave idiot that's not gonna work. you go...      1
4  RT @ayevonnn: bruh i fucking hate people like ...      1

In [8]:
preprocess_tweets(df_balanced, 'tweet')
df_balanced.head(10)

,tweet,label,retweets,callouts,charref,hashtags
0,"[hate, chase, bitch, work, shes, literally, evil]",1,,,,
1,"[pineapples, belong, pizza, yall, niggas, nasty]",1,'RT @nyctophil3',,,
2,"[niggas, talk, women, wear, weave, sick, bitch...",1,,,,
3,"[idiot, thats, gonna, work, gotta, flame, stic...",1,,'@vappywave',,
4,"[bruh, fuck, hate, people, like]",1,'RT @ayevonnn',,,
5,"[fuck, sick, watch, republican, party, reward,...",1,'RT @mattmfm',,,
6,"[dumbass, bronco, fan, swear, hate, fanbase, d...",1,,'@JayFoee_',,
7,"[sample, jaw, pull, pistol, nigga, look, dam, ...",1,'RT @THESLUMPGOD',,,
8,"[litter, youre, bitch, hate]",1,'RT @arianam0lina',,'&amp;',
9,"[dont, anger, hairless, nigga]",1,'RT @cybeque',,,

In [11]:
df_bal = df_balanced[['tweet', 'label']] 

hate = df_bal[df_bal.label == 1]
non_hate = df_bal[df_bal.label == 0]

X_h = hate.tweet
y_h = hate.label
X_nh = non_hate.tweet
y_nh = non_hate.label

X_h_tr, X_h_val, y_h_tr, y_h_val = train_test_split(X_h, y_h, test_size=0.25, random_state=42)
X_h_val, X_h_tt, y_h_val, y_h_tt = train_test_split(X_h_val, y_h_val, test_size=0.4, random_state=42)
X_nh_tr, X_nh_val, y_nh_tr, y_nh_val = train_test_split(X_nh, y_nh, test_size=0.25, random_state=42)
X_nh_val, X_nh_tt, y_nh_val, y_nh_tt = train_test_split(X_nh_val, y_nh_val, test_size=0.4, random_state=42)

In [12]:
X_tr = pd.concat((X_h_tr, X_nh_tr), ignore_index=True)
y_tr = pd.concat((y_h_tr, y_nh_tr), ignore_index=True)
train_bal = pd.concat([X_tr, y_tr], axis=1)
train_bal.head()

                                               tweet  label
0  [sexist, slightest, women, comedians, allow, a...      1
1  [black, drivers, missouri, likely, stop, white...      1
2                [agree, thats, worst, form, racism]      1
3    [mollas, khokla, desh, bhakts, gandinaaliabuse]      1
4  [people, way, association, assassination, die,...      1

In [13]:
X_val = pd.concat((X_h_val, X_nh_val), ignore_index=True)
y_val = pd.concat((y_h_val, y_nh_val), ignore_index=True)
val_bal = pd.concat([X_val, y_val], axis=1)
val_bal.head()

                                               tweet  label
0  [pakistan, wear, black, band, oppose, israel, ...      1
1  [winner, popular, vote, russian, conspiracy, r...      1
2                                  [girl, fucktrump]      1
3  [iphone, pocket, scratchy, things, scratch, sc...      1
4                                    [beyonc, trash]      1

In [14]:
X_tt = pd.concat((X_h_tt, X_nh_tt), ignore_index=True)
y_tt = pd.concat((y_h_tt, y_nh_tt), ignore_index=True)
test_bal = pd.concat([X_tt, y_tt], axis=1)
test_bal.head()

                                               tweet  label
0  [people, faggot, like, bear, way, big, douche,...      1
1  [far, girls, team, female, team, place, major,...      1
2                       [legally, force, parenthood]      1
3                          [simple, trumpisatraitor]      1
4  [punishment, rapists, hang, till, death, publi...      1

In [ ]:
pickle.dump(test_bal, open("../pickle/test_bal.pickle", "wb"))
pickle.dump(val_bal, open("../pickle/val_bal.pickle", "wb"))
pickle.dump(train_bal, open("../pickle/train_bal.pickle", "wb"))