# Importing Packages

In [2]:
import pandas as pd
import numpy as np
import pickle
import re

%reload_ext autoreload
%autoreload 2
import sys
sys.path.append("../py")
from utils import *
from preprocess import *
from sklearn.model_selection import train_test_split

# Importing Datasets

## Aristotle Dataset

In [32]:
df1 = pickle.load(open("../pickle/aristotle_hate.pickle", "rb"))
df1.head()

,text,public_metrics,id,created_at,entities,geo
0,I hate er chase because if the Bitch that work...,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",850433664890544128,2017-04-07T19:42:40.000Z,NaN,NaN
1,RT @nyctophil3: Pineapples do not belong on pi...,"{'retweet_count': 5, 'reply_count': 0, 'like_c...",850100742035836929,2017-04-06T21:39:45.000Z,"{'mentions': [{'start': 3, 'end': 14, 'usernam...",NaN
2,Niggas keep talking about women wearing weave ...,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",847804507367100416,2017-03-31T13:35:20.000Z,NaN,NaN
3,@vappywave idiot that's not gonna work. you go...,"{'retweet_count': 0, 'reply_count': 1, 'like_c...",850090319165050880,2017-04-06T20:58:20.000Z,"{'mentions': [{'start': 0, 'end': 10, 'usernam...",NaN
4,RT @ayevonnn: bruh i fucking hate people like ...,"{'retweet_count': 5, 'reply_count': 0, 'like_c...",848686686930382848,2017-04-03T00:00:48.000Z,"{'urls': [{'start': 53, 'end': 76, 'url': 'htt...",NaN

In [33]:
df1['target'] = 1
df1 = df1.drop(columns=['id', 'geo', 'created_at', 'public_metrics', 'entities'], axis=1)
df1.head()

                                                text  target
0  I hate er chase because if the Bitch that work...       1
1  RT @nyctophil3: Pineapples do not belong on pi...       1
2  Niggas keep talking about women wearing weave ...       1
3  @vappywave idiot that's not gonna work. you go...       1
4  RT @ayevonnn: bruh i fucking hate people like ...       1

In [34]:
len(df1)

1726

## Copenhagen Dataset

In [35]:
df2 = pickle.load(open("../pickle/copenhagen_2.pickle", "rb"))
df2.head()

,text,id,geo,created_at,public_metrics,entities
0,Drasko they didn't cook half a bird you idiot ...,572341498827522049,"{'place_id': '017453ae077eafd3', 'coordinates'...",2015-03-02T10:23:41.000Z,"{'retweet_count': 0, 'reply_count': 0, 'like_c...","{'hashtags': [{'start': 46, 'end': 50, 'tag': ..."
1,Hopefully someone cooks Drasko in the next ep ...,572340476503724032,NaN,2015-03-02T10:19:37.000Z,"{'retweet_count': 0, 'reply_count': 0, 'like_c...","{'annotations': [{'start': 24, 'end': 29, 'pro..."
2,of course you were born in serbia...you're as ...,572334712804384768,NaN,2015-03-02T09:56:43.000Z,"{'retweet_count': 0, 'reply_count': 0, 'like_c...","{'annotations': [{'start': 27, 'end': 32, 'pro..."
3,These girls are the equivalent of the irritati...,572332655397629952,NaN,2015-03-02T09:48:33.000Z,"{'retweet_count': 0, 'reply_count': 0, 'like_c...","{'hashtags': [{'start': 95, 'end': 99, 'tag': ..."
4,RT @YesYoureRacist: At least you're only a tin...,446460991396917248,NaN,2014-03-20T01:39:29.000Z,"{'retweet_count': 46, 'reply_count': 0, 'like_...","{'mentions': [{'start': 3, 'end': 18, 'usernam..."

In [36]:
df2['target'] = 1
df2 = df2.drop(columns=['id', 'geo', 'created_at', 'public_metrics', 'entities'], axis=1)
df2.head()

                                                text  target
0  Drasko they didn't cook half a bird you idiot ...       1
1  Hopefully someone cooks Drasko in the next ep ...       1
2  of course you were born in serbia...you're as ...       1
3  These girls are the equivalent of the irritati...       1
4  RT @YesYoureRacist: At least you're only a tin...       1

In [37]:
len(df2)

2726

## HASOC Dataset

In [38]:
# upload dataset and display dataframe
df3 = pd.read_csv("../data/original/english_dataset.tsv", delimiter="\t")
df3.head()

,text_id,text,task_1,task_2,task_3
0,hasoc_en_1,#DhoniKeepsTheGlove | WATCH: Sports Minister K...,NOT,NONE,NONE
1,hasoc_en_2,@politico No. We should remember very clearly ...,HOF,HATE,TIN
2,hasoc_en_3,@cricketworldcup Guess who would be the winner...,NOT,NONE,NONE
3,hasoc_en_4,Corbyn is too politically intellectual for #Bo...,NOT,NONE,NONE
4,hasoc_en_5,All the best to #TeamIndia for another swimmin...,NOT,NONE,NONE

In [39]:
df3.task_2.value_counts()

NONE    3591
HATE    1143
PRFN     667
OFFN     451
Name: task_2, dtype: int64

In [40]:
df3 = df3[df3['task_2'] == 'HATE']
df3['target'] = 1
df3 = df3[['text', 'target']]
df3.head()

                                                 text  target
1   @politico No. We should remember very clearly ...       1
11  I don’t know how much more I can take! 45 is a...       1
23  #ShameOnICC  1. ICC on Dhoni's gloves         ...       1
27  Disgusting! And they don’t change their cultur...       1
34  @TheRealOJ32 Of all the retired NFL players, w...       1

In [41]:
len(df3)

1143

## Original Dataset

In [42]:
df4 = pd.read_csv("../data/original/labeled_data.csv", index_col=0)
df4 = df4.drop(columns=['count', 'hate_speech', 'offensive_language', 'neither'], axis=1)
df4.columns = ['target', 'text']
df4.head()

   target                                               text
0       2  !!! RT @mayasolovely: As a woman you shouldn't...
1       1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2       1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3       1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4       1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [43]:
df4.target.value_counts()

1    19190
2     4163
0     1430
Name: target, dtype: int64

In [44]:
df4 = df4.replace({'target': {1: 0, 2: 0, 0: 1}})

In [45]:
df4.target.value_counts()

0    23353
1     1430
Name: target, dtype: int64

# Combining Dataframes

In [46]:
comb = pd.concat([df1, df2, df3, df4], ignore_index=True)
comb

                                                    text  target
0      I hate er chase because if the Bitch that work...       1
1      RT @nyctophil3: Pineapples do not belong on pi...       1
2      Niggas keep talking about women wearing weave ...       1
3      @vappywave idiot that's not gonna work. you go...       1
4      RT @ayevonnn: bruh i fucking hate people like ...       1
...                                                  ...     ...
30373  you's a muthaf***in lie &#8220;@LifeAsKing: @2...       0
30374  you've gone and broke the wrong heart baby, an...       0
30375  young buck wanna eat!!.. dat nigguh like I ain...       0
30376              youu got wild bitches tellin you lies       0
30377  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...       0

[30378 rows x 2 columns]

In [48]:
comb.target.value_counts()

0    23353
1     7025
Name: target, dtype: int64

In [49]:
comb.head()

                                                text  target
0  I hate er chase because if the Bitch that work...       1
1  RT @nyctophil3: Pineapples do not belong on pi...       1
2  Niggas keep talking about women wearing weave ...       1
3  @vappywave idiot that's not gonna work. you go...       1
4  RT @ayevonnn: bruh i fucking hate people like ...       1

In [50]:
comb.columns = ['tweet', 'target']

# Pickle Out Dataframe

In [51]:
pickle.dump(comb, open("../pickle/balanced.pickle", "wb"))

# Train-Validation-Test

In [54]:
df_balanced = pickle.load(open("../pickle/balanced.pickle", "rb"))
df_balanced.head()

                                               tweet  target
0  I hate er chase because if the Bitch that work...       1
1  RT @nyctophil3: Pineapples do not belong on pi...       1
2  Niggas keep talking about women wearing weave ...       1
3  @vappywave idiot that's not gonna work. you go...       1
4  RT @ayevonnn: bruh i fucking hate people like ...       1

In [20]:
df_bal = df_balanced[['tweet', 'target']] 

hate = df_bal[df_bal.target == 1]
non_hate = df_bal[df_bal.target == 0]

X_h = hate.tweet
y_h = hate.target
X_nh = non_hate.tweet
y_nh = non_hate.target

X_h_tr, X_h_val, y_h_tr, y_h_val = train_test_split(X_h, y_h, test_size=0.25, random_state=42)
X_h_val, X_h_tt, y_h_val, y_h_tt = train_test_split(X_h_val, y_h_val, test_size=0.4, random_state=42)
X_nh_tr, X_nh_val, y_nh_tr, y_nh_val = train_test_split(X_nh, y_nh, test_size=0.25, random_state=42)
X_nh_val, X_nh_tt, y_nh_val, y_nh_tt = train_test_split(X_nh_val, y_nh_val, test_size=0.4, random_state=42)

In [21]:
X_tr = pd.concat((X_h_tr, X_nh_tr), ignore_index=True)
y_tr = pd.concat((y_h_tr, y_nh_tr), ignore_index=True)
train_bal = pd.concat([X_tr, y_tr], axis=1)
train_bal.head()

                                               tweet  label
0  [sexist, slightest, women, comedians, allow, a...      1
1  [black, drivers, missouri, likely, stop, white...      1
2                [agree, thats, worst, form, racism]      1
3    [mollas, khokla, desh, bhakts, gandinaaliabuse]      1
4  [people, way, association, assassination, die,...      1

In [22]:
X_val = pd.concat((X_h_val, X_nh_val), ignore_index=True)
y_val = pd.concat((y_h_val, y_nh_val), ignore_index=True)
val_bal = pd.concat([X_val, y_val], axis=1)
val_bal.head()

                                               tweet  label
0  [pakistan, wear, black, band, oppose, israel, ...      1
1  [winner, popular, vote, russian, conspiracy, r...      1
2                                  [girl, fucktrump]      1
3  [iphone, pocket, scratchy, things, scratch, sc...      1
4                                    [beyonc, trash]      1

In [23]:
X_tt = pd.concat((X_h_tt, X_nh_tt), ignore_index=True)
y_tt = pd.concat((y_h_tt, y_nh_tt), ignore_index=True)
test_bal = pd.concat([X_tt, y_tt], axis=1)
test_bal.head()

                                               tweet  label
0  [people, faggot, like, bear, way, big, douche,...      1
1  [far, girls, team, female, team, place, major,...      1
2                       [legally, force, parenthood]      1
3                          [simple, trumpisatraitor]      1
4  [punishment, rapists, hang, till, death, publi...      1

In [24]:
pickle.dump(test_bal, open("../pickle/test_bal.pickle", "wb"))
pickle.dump(val_bal, open("../pickle/val_bal.pickle", "wb"))
pickle.dump(train_bal, open("../pickle/train_bal.pickle", "wb"))