# Importing Packages

In [2]:
import pandas as pd
import numpy as np
import pickle
import re

%reload_ext autoreload
%autoreload 2
import sys
sys.path.append("../py")
import utils
import mgp

# Importing Datasets

## Aristotle Dataset

In [3]:
df1 = pickle.load(open("../pickle/aristotle_2.pickle", "rb"))
df1

,created_at,text,id,public_metrics,entities,geo
0,2017-04-07T19:42:40.000Z,I hate er chase because if the Bitch that work...,850433664890544128,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",NaN,NaN
1,2017-04-06T21:39:45.000Z,RT @nyctophil3: Pineapples do not belong on pi...,850100742035836929,"{'retweet_count': 5, 'reply_count': 0, 'like_c...","{'mentions': [{'start': 3, 'end': 14, 'usernam...",NaN
2,2017-03-31T13:35:20.000Z,Niggas keep talking about women wearing weave ...,847804507367100416,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",NaN,NaN
3,2017-04-06T20:58:20.000Z,@vappywave idiot that's not gonna work. you go...,850090319165050880,"{'retweet_count': 0, 'reply_count': 1, 'like_c...","{'mentions': [{'start': 0, 'end': 10, 'usernam...",NaN
4,2017-04-03T00:00:48.000Z,RT @ayevonnn: bruh i fucking hate people like ...,848686686930382848,"{'retweet_count': 5, 'reply_count': 0, 'like_c...","{'urls': [{'start': 53, 'end': 76, 'url': 'htt...",NaN
...,...,...,...,...,...,...
1739,2017-04-08T13:25:50.000Z,Baekhyun won 'Most Popular Artist of Korea'\n\...,850701219568001025,"{'retweet_count': 0, 'reply_count': 0, 'like_c...","{'annotations': [{'start': 0, 'end': 7, 'proba...",NaN
1740,2017-04-04T17:42:11.000Z,#TripleTalaqArrest 2fgt dis social menace #Tri...,849316180670259205,"{'retweet_count': 0, 'reply_count': 1, 'like_c...","{'hashtags': [{'start': 0, 'end': 18, 'tag': '...",NaN
1741,2017-04-05T17:26:51.000Z,White nationalists' latest tactic to recruit c...,849674709763358720,"{'retweet_count': 0, 'reply_count': 0, 'like_c...","{'urls': [{'start': 85, 'end': 108, 'url': 'ht...",NaN
1742,2017-04-04T13:06:00.000Z,We are in a comfortable lead fight against gal...,849246676854484992,"{'retweet_count': 1, 'reply_count': 0, 'like_c...","{'hashtags': [{'start': 53, 'end': 66, 'tag': ...",NaN
1743,2017-04-05T14:51:08.000Z,Took him less than a minute...!! Gutless grub!...,849635522389651456,"{'retweet_count': 0, 'reply_count': 1, 'like_c...","{'urls': [{'start': 121, 'end': 144, 'url': 'h...",NaN

In [13]:
df1['label'] = 1
df1 = df1.drop(columns=['author_id', 'created_at', 'id'], axis=1)
df1.head()

                                                text  label
0  I hate er chase because if the Bitch that work...      1
1  RT @nyctophil3: Pineapples do not belong on pi...      1
2  Niggas keep talking about women wearing weave ...      1
3  @vappywave idiot that's not gonna work. you go...      1
4  RT @ayevonnn: bruh i fucking hate people like ...      1

## Copenhagen Dataset

In [5]:
df2 = pickle.load(open("../pickle/copenhagen_2.pickle", "rb"))
df2

,text,author_id,id,created_at
0,Drasko they didn't cook half a bird you idiot ...,110114783,572341498827522049,2015-03-02T10:23:41.000Z
1,Hopefully someone cooks Drasko in the next ep ...,38650214,572340476503724032,2015-03-02T10:19:37.000Z
2,of course you were born in serbia...you're as ...,2587278392,572334712804384768,2015-03-02T09:56:43.000Z
3,These girls are the equivalent of the irritati...,2601524623,572332655397629952,2015-03-02T09:48:33.000Z
4,RT @YesYoureRacist: At least you're only a tin...,930620467,446460991396917248,2014-03-20T01:39:29.000Z
...,...,...,...,...
2734,"RT @Superjutah: @MT8_9 £34,000 is £9000 above ...",2756873076,569990621315919872,2015-02-23T22:42:08.000Z
2735,RT @DufresneFrank: “@gabystama: @DufresneFrank...,2756873076,570244879265206272,2015-02-24T15:32:28.000Z
2736,RT @BoycottBrandy: @ActionFlickDoc this person...,2756873076,571013698111860736,2015-02-26T18:27:29.000Z
2737,RT @Lyall: Patriarchy™ will expel me if I divu...,2756873076,571304517930774528,2015-02-27T13:43:06.000Z
2738,RT @AsheSchow: Women’s Studies: Learn how to t...,2756873076,575664315627216896,2015-03-11T14:27:22.000Z

In [9]:
df2['label'] = 1
df2 = df2.drop(columns=['id', 'author_id', 'created_at'], axis=1)
df2.head()

                                                text  label
0  Drasko they didn't cook half a bird you idiot ...      1
1  Hopefully someone cooks Drasko in the next ep ...      1
2  of course you were born in serbia...you're as ...      1
3  These girls are the equivalent of the irritati...      1
4  RT @YesYoureRacist: At least you're only a tin...      1

## Georgia Dataset

In [11]:
df3 = pickle.load(open("../pickle/georgia.pickle", "rb"))
df3

,author_id,id,text,created_at
0,884055068265164801,1240976182494908416,Fuck the ding dongs. Fuck the ching chongs. An...,2020-03-20T12:19:12.000Z
1,1136405401770106880,1238239331879464960,Fuck china fuck China fuck China\nFuck China f...,2020-03-12T23:03:56.000Z
2,907414928,1241373862756888577,"I do n’t believe this is eating bats, which is...",2020-03-21T14:39:27.000Z
3,1134698470760017920,1238588936391290880,"@Peoples_Pundit CCP Wuhan Virus, more Chinese ...",2020-03-13T22:13:08.000Z
4,35525602,1240774162760617984,Dr. Sean Lin said call it what it is - #ChinaV...,2020-03-19T22:56:27.000Z
...,...,...,...,...
17370,3193940959,1249362085248524289,@Oceanle15689731 corona is from China because ...,2020-04-12T15:41:47.000Z
17371,437970401,1240390179048824833,President Donald Trump and Congress should tel...,2020-03-18T21:30:38.000Z
17372,409760405,1246240273455296512,@almostzdq @cgtnamerica @CGTNOfficial Hard to ...,2020-04-04T00:56:49.000Z
17373,1279408782,1242810006715527168,@MarshaBlackburn @RepJimBanks @teammoulton #Ch...,2020-03-25T13:46:10.000Z
17374,1088917571951357952,1229759936147738625,@XposeTrophyHunt @SharonHoole The coronavirus ...,2020-02-18T13:29:51.000Z

In [14]:
df3['label'] = 1
df3 = df3.drop(columns=['id', 'author_id', 'created_at'], axis=1)
df3.head()

                                                text  label
0  Fuck the ding dongs. Fuck the ching chongs. An...      1
1  Fuck china fuck China fuck China\nFuck China f...      1
2  I do n’t believe this is eating bats, which is...      1
3  @Peoples_Pundit CCP Wuhan Virus, more Chinese ...      1
4  Dr. Sean Lin said call it what it is - #ChinaV...      1

## Original Dataset

In [15]:
df4 = pd.read_csv("../data/labeled_data.csv", index_col=0)
df4 = df4.drop(columns=['count', 'hate_speech', 'offensive_language', 'neither'], axis=1)
df4.columns = ['label', 'text']
df4.head()

   label                                               text
0      2  !!! RT @mayasolovely: As a woman you shouldn't...
1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [16]:
df4.label.value_counts()

1    19190
2     4163
0     1430
Name: label, dtype: int64

In [17]:
df4 = df4.replace({'label': {1: 0, 2: 0, 0: 1}})

In [18]:
df4.label.value_counts()

0    23353
1     1430
Name: label, dtype: int64

# Combining Dataframes

In [27]:
comb = pd.concat([df1, df2, df3, df4], ignore_index=True)
comb

                                                    text  label
0      I hate er chase because if the Bitch that work...      1
1      RT @nyctophil3: Pineapples do not belong on pi...      1
2      Niggas keep talking about women wearing weave ...      1
3      @vappywave idiot that's not gonna work. you go...      1
4      RT @ayevonnn: bruh i fucking hate people like ...      1
...                                                  ...    ...
46655  you's a muthaf***in lie &#8220;@LifeAsKing: @2...      0
46656  you've gone and broke the wrong heart baby, an...      0
46657  young buck wanna eat!!.. dat nigguh like I ain...      0
46658              youu got wild bitches tellin you lies      0
46659  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...      0

[46660 rows x 2 columns]

In [28]:
comb.label.value_counts()

0    23353
1    23307
Name: label, dtype: int64

In [29]:
comb.head()

                                                text  label
0  I hate er chase because if the Bitch that work...      1
1  RT @nyctophil3: Pineapples do not belong on pi...      1
2  Niggas keep talking about women wearing weave ...      1
3  @vappywave idiot that's not gonna work. you go...      1
4  RT @ayevonnn: bruh i fucking hate people like ...      1

In [38]:
comb.columns = ['tweet', 'label']

# Preprocess Tweets

In [39]:
from tweet_preprocessor import tokenize_tweets
tweets_df = tokenize_tweets(comb)

Complete. Number of Tweets that have been cleaned and tokenized : 46660

In [40]:
tweets_df

,tweet,label,tokens
0,I hate er chase because if the Bitch that work...,1,hate chase bitch work literally
1,RT @nyctophil3: Pineapples do not belong on pi...,1,pineapples belong pizza niggas nasty
2,Niggas keep talking about women wearing weave ...,1,niggas talk women wear weave sick bitch fro ass
3,@vappywave idiot that's not gonna work. you go...,1,idiot gonna work gotta flame stickers faster
4,RT @ayevonnn: bruh i fucking hate people like ...,1,bruh fuck hate people like
...,...,...,...
46655,you's a muthaf***in lie &#8220;@LifeAsKing: @2...,0,muthaf lie pearl right trash bible scriptures ...
46656,"you've gone and broke the wrong heart baby, an...",0,go break wrong heart baby drive redneck crazy
46657,young buck wanna eat!!.. dat nigguh like I ain...,0,young buck wanna eat dat nigguh like aint fuck...
46658,youu got wild bitches tellin you lies,0,youu get wild bitch tellin lie
46659,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...,0,ruffle ntac eileen dahlia beautiful color comb...

# Pickle Out Dataframe

In [26]:
pickle.dump(comb, open("../pickle/balanced.pickle", "wb"))

In [47]:

import numpy as np
import pandas as pd
import pickle
import re

from mgp import MovieGroupProcess
from tqdm import tqdm

# load in data if needed 
# data_dir = '../data/preprocessed_tweets.csv'
# tweets_df = pd.read_csv(data_dir) 
tweets_df.head(5)

,tweet,label,tokens
0,I hate er chase because if the Bitch that work...,1,hate chase bitch work literally
1,RT @nyctophil3: Pineapples do not belong on pi...,1,pineapples belong pizza niggas nasty
2,Niggas keep talking about women wearing weave ...,1,niggas talk women wear weave sick bitch fro ass
3,@vappywave idiot that's not gonna work. you go...,1,idiot gonna work gotta flame stickers faster
4,RT @ayevonnn: bruh i fucking hate people like ...,1,bruh fuck hate people like

In [48]:
# convert string of tokens into tokens list
tweets_df['tokens'] = tweets_df.tokens.apply(lambda x: re.split('\s', x))
tweets_df.head()

,tweet,label,tokens
0,I hate er chase because if the Bitch that work...,1,"[hate, chase, bitch, work, literally]"
1,RT @nyctophil3: Pineapples do not belong on pi...,1,"[pineapples, belong, pizza, niggas, nasty]"
2,Niggas keep talking about women wearing weave ...,1,"[niggas, talk, women, wear, weave, sick, bitch..."
3,@vappywave idiot that's not gonna work. you go...,1,"[idiot, gonna, work, gotta, flame, stickers, f..."
4,RT @ayevonnn: bruh i fucking hate people like ...,1,"[bruh, fuck, hate, people, like]"

In [49]:
# create a single list of tweet tokens
docs = tweets_df['tokens'].tolist()
docs[:3]  # view top 3 elements

[['hate', 'chase', 'bitch', 'work', 'literally'],
 ['pineapples', 'belong', 'pizza', 'niggas', 'nasty'],
 ['niggas', 'talk', 'women', 'wear', 'weave', 'sick', 'bitch', 'fro', 'ass']]

In [53]:
%%time
# Train STTM model
#    K = number of potential topics
#    alpha = controls completeness
#    beta =  controls homogeneity 
#    n_iters = number of iterations
mgp = MovieGroupProcess(K=10, alpha=0.1, beta=0.5, n_iters=5)
vocab = set(x for doc in docs for x in doc)
n_terms = len(vocab)
y = mgp.fit(docs, n_terms)

# Save model
with open('../pickle/10clusters.model', 'wb') as f:
    pickle.dump(mgp, f)
    f.close()

In stage 0: transferred 40774 clusters with 10 clusters populated
In stage 1: transferred 25844 clusters with 10 clusters populated
In stage 2: transferred 12863 clusters with 10 clusters populated
In stage 3: transferred 8472 clusters with 10 clusters populated
In stage 4: transferred 6317 clusters with 10 clusters populated
CPU times: user 1min 6s, sys: 1.08 s, total: 1min 7s
Wall time: 1min 15s

In [54]:
# load in trained model 
filehandler = open('../pickle/10clusters.model', 'rb')
mgp = pickle.load(filehandler)

In [55]:
# define helper functions
def top_words(cluster_word_distribution, top_cluster, values):
    '''prints the top words in each cluster'''
    for cluster in top_cluster:
        sort_dicts =sorted(mgp.cluster_word_distribution[cluster].items(), key=lambda k: k[1], reverse=True)[:values]
        print('Cluster %s : %s'%(cluster,sort_dicts))
        print(' — — — — — — — — —')
        
def cluster_importance(mgp):
    '''returns a word-topic matrix[phi] where each value represents
    the word importance for that particular cluster;
    phi[i][w] would be the importance of word w in topic i.
    '''
    n_z_w = mgp.cluster_word_distribution
    beta, V, K = mgp.beta, mgp.vocab_size, mgp.K
    phi = [{} for i in range(K)]
    for z in range(K):
        for w in n_z_w[z]:
            phi[z][w] = (n_z_w[z][w]+beta)/(sum(n_z_w[z].values())+V*beta)
    return phi

def topic_allocation(df, docs, mgp, topic_dict):
    '''allocates all topics to each document in original dataframe,
    adding two columns for cluster number and cluster description'''
    topic_allocations = []
    for doc in tqdm(docs):
        topic_label, score = mgp.choose_best_label(doc)
        topic_allocations.append(topic_label)

    df['cluster'] = topic_allocations

    df['topic_name'] = df.cluster.apply(lambda x: get_topic_name(x, topic_dict))
    print('Complete. Number of documents with topic allocated: {}'.format(len(df)))

def get_topic_name(doc, topic_dict):
    '''returns the topic name string value from a dictionary of topics'''
    topic_desc = topic_dict[doc]
    return topic_desc

In [56]:
doc_count = np.array(mgp.cluster_doc_count)
print('Number of documents per topic :', doc_count)
print('*'*20)

# topics sorted by the number of documents they are allocated to
top_index = doc_count.argsort()[-10:][::-1]
print('Most important clusters (by number of docs inside):', top_index)
print('*'*20)

# show the top 5 words in term frequency for each cluster 
topic_indices = np.arange(start=0, stop=len(doc_count), step=1)
top_words(mgp.cluster_word_distribution, topic_indices, 5)

Number of documents per topic : [14362    73   114    28  3716 23591   392  3016   211  1157]
********************
Most important clusters (by number of docs inside): [5 0 4 7 9 6 8 2 1 3]
********************
Cluster 0 : [('china', 10535), ('chinese', 7347), ('virus', 6243), ('ccp', 5478), ('world', 5259)]
 — — — — — — — — —
Cluster 1 : [('wuhan', 82), ('price', 82), ('high', 48), ('cat', 43), ('market', 43)]
 — — — — — — — — —
Cluster 2 : [('fuck', 780), ('china', 497), ('trigger', 17), ('photo', 17), ('cultural', 16)]
 — — — — — — — — —
Cluster 3 : [('communist', 53), ('people', 51), ('million', 34), ('china', 21), ('party', 19)]
 — — — — — — — — —
Cluster 4 : [('bitch', 1612), ('hoe', 657), ('pussy', 353), ('get', 346), ('like', 285)]
 — — — — — — — — —
Cluster 5 : [('bitch', 9948), ('hoe', 3681), ('like', 2879), ('fuck', 2258), ('pussy', 1791)]
 — — — — — — — — —
Cluster 6 : [('yankees', 47), ('jeter', 30), ('derek', 25), ('yellow', 19), ('charlie', 19)]
 — — — — — — — — —
Cluster 7 : [('china', 2101), ('eat', 1940), ('bat', 1152), ('chinese', 1148), ('virus', 771)]
 — — — — — — — — —
Cluster 8 : [('china', 259), ('amp', 100), ('hong', 84), ('kong', 84), ('communist', 74)]
 — — — — — — — — —
Cluster 9 : [('charlie', 138), ('amp', 95), ('idiot', 80), ('trash', 58), ('say', 57)]
 — — — — — — — — —

In [57]:
phi = cluster_importance(mgp) # initialize phi matrix

# 'coronavirus' term importance for cluster 1 and 0 
print(phi[1]['wuhan'])
print(phi[0]['china'])

0.006469573400250941
0.0618701698339245

In [ ]:
# define dictionary topics in same sequential order
# as resulting clusters from gsdmm model 
topic_dict = {}
topic_names = ['china',
               'wuhan',
               'fuck',
               'communist',
               'cancer & heart disease',
               'diet & exercise',
               'health & medical workers',
               'abortion',
               'vaping & cigarettes',
               'drug costs & opioid crisis']

for i, topic_num in enumerate(topic_indices):
    topic_dict[topic_num]=topic_names[i]
    
# allocate topics to original data frame 
topic_allocation(tweets_df, docs, mgp, topic_dict)

In [ ]:
tweets_df[['tweet', 'username', 'tokens', 'cluster', 'topic_name']].sample(5)