In [1]:
import pandas as pd
import numpy as np
import pickle

In [5]:
df1 = pd.read_csv("../data/df_hateful.csv", )
df1['label'] = 1
df1 = df1.drop(columns=[])
df1 = df1.drop(columns=['Unnamed: 0', 'author_id', 'created_at', 'id'], axis=1)
df1.head()

                                                text  label
0  I hate er chase because if the Bitch that work...      1
1  RT @nyctophil3: Pineapples do not belong on pi...      1
2  Niggas keep talking about women wearing weave ...      1
3  @vappywave idiot that's not gonna work. you go...      1
4  RT @ayevonnn: bruh i fucking hate people like ...      1

In [6]:
df2 = pickle.load(open("../pickle/rac_sex_2741.pickle", "rb"))
df2['label'] = 1
df2 = df2.drop(columns=['id', 'author_id', 'created_at'], axis=1)
df2.head()

                                                text  label
0  Drasko they didn't cook half a bird you idiot ...      1
1  Hopefully someone cooks Drasko in the next ep ...      1
2  of course you were born in serbia...you're as ...      1
3  These girls are the equivalent of the irritati...      1
4  RT @YesYoureRacist: At least you're only a tin...      1

In [7]:
df3 = pd.read_csv("../data/labeled_data.csv", index_col=0)
df3 = df3.drop(columns=['count', 'hate_speech', 'offensive_language', 'neither'], axis=1)
df3.columns = ['label', 'text']
df3.head()

   label                                               text
0      2  !!! RT @mayasolovely: As a woman you shouldn't...
1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [8]:
df3.label.value_counts()

1    19190
2     4163
0     1430
Name: label, dtype: int64

In [9]:
df3 = df3.replace({'label': {1: 0, 2: 0, 0: 1}})

In [10]:
df3.label.value_counts()

0    23353
1     1430
Name: label, dtype: int64

## HASOC Dataset 2019

Citation:

Thomas Mandl, Sandip Modha, Prasenjit Majumder, Daksh Patel, Mohana Dave, Chintak Mandlia, and Aditya Patel. (2019). Overview of the HASOC track at FIRE 2019: Hate speech and offensive content identification in Indo-European languages. In *Proceedings of the 11th Forum for Information Retrieval Evaluation*. pages 14-17. https://doi.org/10.1145/3368567.3368584

In [19]:
df4 = pd.read_csv("../data/english_dataset.tsv",  sep='\t')
df4.head()

,text_id,text,task_1,task_2,task_3
0,hasoc_en_1,#DhoniKeepsTheGlove | WATCH: Sports Minister K...,NOT,NONE,NONE
1,hasoc_en_2,@politico No. We should remember very clearly ...,HOF,HATE,TIN
2,hasoc_en_3,@cricketworldcup Guess who would be the winner...,NOT,NONE,NONE
3,hasoc_en_4,Corbyn is too politically intellectual for #Bo...,NOT,NONE,NONE
4,hasoc_en_5,All the best to #TeamIndia for another swimmin...,NOT,NONE,NONE

In [20]:
df4 = df4[df4.task_2 == 'HATE']
df4 = df4.drop(columns=['text_id', 'task_1', 'task_3'], axis=1)
df4.columns = ['text', 'label']
df4.label = 1
df4.head()

                                                 text  label
1   @politico No. We should remember very clearly ...      1
11  I don’t know how much more I can take! 45 is a...      1
23  #ShameOnICC  1. ICC on Dhoni's gloves         ...      1
27  Disgusting! And they don’t change their cultur...      1
34  @TheRealOJ32 Of all the retired NFL players, w...      1

In [21]:
comb = pd.concat([df3, df2, df4, df1], axis=0)
comb = comb.reset_index(drop=True)
comb.head()

   label                                               text
0      0  !!! RT @mayasolovely: As a woman you shouldn't...
1      0  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      0  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      0  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      0  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [22]:
comb.label.value_counts()

0    23353
1     7080
Name: label, dtype: int64

In [23]:
import re

In [60]:
def preprocess_tweet(df, col):
    df[col] = df[col].apply(lambda x: re.sub(r'@[\S]+', ' ', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'&[\S]+?;', ' ', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'#', ' ', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'(\bRT\b|\bQT\b)', ' ', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'http[\S]+', ' ', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'[^\w\s]', r'', str(x)))
    df[col] = df[col].apply(lambda x: " ".join(x.lower() for x in x.split()))
    df[col] = df[col].apply(lambda x: re.sub(r'\w*\d\w*', r' ', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'\s\s+', ' ', str(x)))

In [61]:
preprocess_tweet(comb, 'text')

In [62]:
comb

       label                                               text
0          0  as a woman you shouldnt complain about cleanin...
1          0  boy dats coldtyga dwn bad for cuffin dat hoe i...
2          0  dawg you ever fuck a bitch and she start to cr...
3          0                             she look like a tranny
4          0  the shit you hear about me might be true or it...
...      ...                                                ...
28526      1  do not trust the ccp they lied they killed ccp...
28527      1  quarantine china from the world until they sto...
28528      1  bs wuhan doctor ai fen has now disappeared she...
28529      1  this is ccp virus not chinese virus the chines...
28530      1  china must pay the price for covering up the t...

[28531 rows x 2 columns]